.outercontUI{
     display: flex;
     height: 100vh;
     background-color: #E5E5E5;
     /* width: 100vw; */
     flex-direction: row;
}
.sidecontainer{
    display: flex;
    width: 20%;
}
.outermaincontainer{
    display: flex;
    width: 80%;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
}

.maincontainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    /* background: white; */

}
.searchdiv{
    display: flex;
    height: 7%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    
}
.searchbox{
    margin-left: 5%;
    display: flex;
    align-items: center;
    width: 60%;
    background: #E2E2E2;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.graphicdiv{
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background: #FFFFFF;
    height: fit-content;
}
.salesreportdiv{
    border-radius: 15px;
    background: #FFFFFF;

}
.salesreportdiv h1{
    margin: auto;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #593636;
    padding: 10px 15px;
}
.salesdetail{
    background: #FF6C40;
    color: white;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
}
.imggraph{
    padding: 10px 25px 50px;
}
.revenue{
    color: black;
    background: #FFE700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding:10px;
}
.quotation{
    padding:10px;
    color: black;
    background: #1FFD77;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;

}

/* .noticeuifirst{ */
    /* width: 20%; */
/* } */
.lowerouterdiv{
    display: flex;
}
.notecontainer{
    width: 40%;
    
}
.lowergraphdetail{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.inboxdiv{
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    background: white;
    justify-content: space-around;
}
.inboxdiv p{
    font-size: 20px;
    line-height: 24px;
    color: #929292;
}

.inboxdiv h2{
    font-size: 40px;
    line-height: 48px;
    color: #593636;
}
.submaincontainer{
    display: flex;
    flex-direction: column;
}
.sublowergraphdetail1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sublowergraphdetail2{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    flex-direction: column;
}
.smallsmry1, .smallsmry2{
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.subsmallsmry1{
    display: flex;
    justify-content: space-evenly;
}
.subsmallsmry1 p{
    color:rgba(15, 38, 242, 1);
    font-size: 25px;
    line-height: 28px;
}
.subsmallsmry1 img{
    width: 60px;
    height: 50px;
}