.uisecondoutercontainer{
    display: flex;
     height: 100vh;
     background-color: #E5E5E5;
     /* width: 100vw; */
     flex-direction: row;

}
.uisecondsidebarbox{
    display: flex;
    width: 20%;
}
.postdivcont{
    overflow-y: hidden;
    display: flex;
    width: 80%;
    overflow: auto;
    height: 100vh;
}